<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.budgetmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="SEND" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/shiabudget"
        android:label="@string/app_name"
        android:roundIcon="@drawable/shiabudget"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PassbookActivity"  android:parentActivityName=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgotActivity" />
        <activity
            android:name=".ReminderActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PureActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CreateTxnActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".RegActivity" />
        <activity android:name=".LoginActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />

        <receiver android:name=".MyBroadcastReceiver" />
    </application>

</manifest>